<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section
				name="Telerik.Reporting"
				type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting"
				allowLocation="true"
				allowDefinition="Everywhere"/>

        <section
                name="Telerik.ReportDesigner"
                type="Telerik.ReportDesigner.Configuration.ReportDesignerConfigurationSection, Telerik.ReportDesigner.Configuration"
                allowLocation="true"
                allowDefinition="Everywhere"/>
	</configSections>

	<connectionStrings>
		<clear/>
		<add name="Telerik.Reporting.Examples.CSharp.Properties.Settings.TelerikConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  
	<Telerik.ReportDesigner DefaultWorkingDir="Examples">
	</Telerik.ReportDesigner>
	<Telerik.Reporting>
	<!-- Add assembly references (in .NET6 and later assemblies are resolved by file name) -->
	<!--
		<AssemblyReferences>
			<add name="MyUserFunctions" />
			<add name="MyBusinessObjects" />
		</AssemblyReferences>
	-->
	<!-- Add trace listeners (in .NET6 and later assemblies that contain custom listeners are resolved by file name)-->
	<!--
		<traceListeners>
			<add name="myListener" type="System.Diagnostics.TextWriterTraceListener"  initializeData="Telerik.ReportDesigner.Net.log" />
			<remove name="Default" />
		</traceListeners>
	-->
	</Telerik.Reporting>
</configuration>