

@page "/"
@namespace CSharp.Net6.BlazorIntegrationDemo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telerik Reporting & Blazor</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    @* Report Viewer dependencies *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://reporting.cdn.telerik.com/18.1.24.514/js/webReportDesigner.kendo.min.js"></script>

    <script src="/api/reports/resources/js/telerikReportViewer"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <script src="api/reportdesigner/designerresources/js/webReportDesigner"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    @* Our Blazor app JS Interop file for working with the ReportViewer widget *@
    <script src="_content/Telerik.ReportViewer.Blazor/interop.js" defer></script>

    <script>
        window.trvEventHandlers = {
            exportBegin: function (e, args) {
                console.log("This event handler will be called before exporting the report in " + args.format + " format.");
            },
            exportEnd: function (e, args) {
                console.log("This event handler will be called after exporting the report.");
                console.log("The exported report can be found at: " + window.location.origin + args.url);
            }
        }

        window.changeKendoTheme = function (cssFileUrl) {
            var oldLink = document.getElementById("TelerikThemeLink"); // we have this id on the <link> that references the theme

            if (cssFileUrl === oldLink.getAttribute("href")) {
                return;
            }

            var newLink = document.createElement("link");
            newLink.setAttribute("id", "TelerikThemeLink");
            newLink.setAttribute("rel", "stylesheet");
            newLink.setAttribute("type", "text/css");
            newLink.setAttribute("href", cssFileUrl);
            newLink.onload = () => {
                oldLink.parentElement.removeChild(oldLink);
            };

            document.getElementsByTagName("head")[0].appendChild(newLink);
        }
    </script>

    @* Our Blazor app JS Interop file for working with the WebReportDesigner widget *@
    <script src="_content/Telerik.WebReportDesigner.Blazor/telerikWebReportDesignerInterop.js" defer></script>
</body>
</html>